header {
  background-color: white;
  padding-top: 20px;
  min-height: 90px;
  width: auto;
  height: auto;
  margin: auto;
  overflow: hidden;
  font-size: 30px;
  color: #b0a8b6;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 900;
  line-height: 0.6;
}

body {
  font-family: "Verdana";
  padding: 0;
  margin: 0;
}

/* NAVIGATION */
nav {
  width: auto;
  background: #cac3cf;
  padding-top: 0px;
}

nav ul {
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 20px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all 0.7s;
}

/* SHIFT */
nav.shift ul li a {
  position: relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #cfbfdb;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: white;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}
